*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: aurochs;
    src: url(./assest//aurochs-light.ttf);
}
@font-face {
    font-family: domain;
    src: url(./assest//5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}
@font-face {
    font-family: royal;
    src: url(./assest/all\ work.ttf);
}
body{
    background-color: #c4bcb3;
    color: #1c1c1a;
    font-family: domain; 
}
body::-webkit-scrollbar {
    display: none;  
}
nav{
    height: 75px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.565);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #c4bcb3;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}
nav img{
    height: 20px;
    margin-right: 80px;
}
nav i{
    font-size: 1.5rem;
}
.section{
    margin-top: 75px;
    display: flex;
    align-items: center;
    padding: 30px 50px;
    gap: 70px;
}
.section div{
    width: 430px;
}
.section div img {
    width: 100%;
    border: 1px solid #1c1c1a;
}
.section div h3{
    display: inline-block;
    margin: 10px 0;
}
.section div span{
    background-color: #df5324;
    padding: 3px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-left: 5px;
    font-family: aurochs;
    letter-spacing: 3px;
    color: #c4bcb3;
    text-align: center;
}
#mid-div{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 20px 70px;
    text-align: center; 
}
#mid-div h1 {
    font-size: 3.5rem;
}
#mid-div h2{
    font-size: 2rem;
    font-weight: 100;
    margin: 20px 0;
}
#mid-div p{
    font-size: 1rem;
    letter-spacing: 3px;
}
.strip{
    margin: 0 30px;
    height: 26rem;
    font-size: 25.5rem;
    color: #c4bcb3;
    background-color: #1c1c1a;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
main{
    display: flex;
    gap: 30px;
    padding: 40px;
}
.left{
    flex-basis: 30%;
    border-right: 1px solid #1c1c1a;
    position: relative;
    padding-right: 70px;
}
.left img{
    height: 500px;
    border: 1px solid #1c1c1a;
}
.left h1{
    font-size: 5rem;
    font-weight: 200;
}
.left h1 .artist{
    font-size: 8rem;
    font-weight: 700;
    position: relative;
   
}
.left h1 .artist::after{
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #1c1c1a6f;
    top: 100px;
    left: 0px;
}
.bottom{
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 100;
    line-height: 2.2rem;
    letter-spacing: 1.7px;
} 
.bottom sapn{
    margin-left: 30px;
}
.bottom .firstLetter{
    color: #c4bcb3;
    background-color: #1c1c1a;
    padding: 5px;
    font-size: 3rem;
}
.right img{
    height: 613px;
    margin-left: 20px;
    border: 1px solid #1c1c1a;
}
.right .text{
    font-size: 4rem;
    margin-left: 20px;
    letter-spacing: -2px;
    text-decoration: line-through 1.5px solid #1c1c1a9f;
}
.right{
    position: relative;
}
.logoLine{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.website{
    height: 20rem;
    width: 75%;
    font-size: 12rem;
    color: #c4bcb3;
    background-color: #1c1c1a;
    font-weight: 4  00;
    text-align: center;
    padding: 10px;
    display: inline-block;
}
.logoLine img {
   height: 400px;
}
.upcoming{
    display: flex;
    justify-content: end;
    padding: 0 30px;
}   
.upcoming .right{
   flex-basis: 40%;   /*///////// */
    margin-right: 0;
    padding-left: 50px;
    font-size: 2rem;
    font-weight: 100;
    /* background-color: yellow; */
}
.upcoming .right h2{
    font-size: 5rem;
}
.upcoming .right h1{
    font-size: 8rem;  
}
.description{
    word-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.upcoming .right .first{
    background-color: #1c1c1a;
    color: #c4bcb3;
    font-size: 6rem;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
}
.upcoming .right .last{
    display: inline-block;
}
.upcoming .right .bottom{
    word-spacing: 5px;
}
.oval{
    border: 1px solid #1c1c1a;
    border-radius: 80%;
    width: 400px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-top: 20px;
}

.upcoming .left{
flex-basis: 61.5%;
}
.upper{
    display: flex;
}
.upperLeft {
    font-size: 2.5rem;
    display: inline-block;
}
.tipPara{
    font-size: 1.5rem;
    margin-top: 25px;
    opacity: 0.7;
}
.upperRight{
    margin: 0 30px;
    border-left: 1px solid #1c1c1a;
    padding: 0 20px;
    margin-right: -50px;
    font-size: 1.2rem;
}
.upperRight p{
    opacity: 0.7;
}
.upperRight h2{
    margin-bottom: 10px;
    margin-top: 2px;
}
.upperRight img{
    height: 150px;
    border: 1px solid #1c1c1a;
}
#boyimg{
    height: 550px;
    margin-top: 50px;
    border: 1px solid #1c1c1a;
}
.titleResult{
    word-spacing: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.awards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: 60px 30px;
    border-top: 1px solid #1c1c1a;
    border-bottom: 1px solid #1c1c1a;
}
.card{
    display: flex;
}
.number{
    font-size: 8rem;
    margin-left: 10px;
}
.title{
    font-size: 1.6rem;
}
.result{
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: 700;
}
.starMain{
    display: flex;
    justify-content: space-between;
}
.starMain .starSide img{
    width:  700px;
    border: 1px solid #1c1c1a;
}
.starMain .capSide img{
    height:  250px;
    margin-right: 20px;
    border: 1px solid #1c1c1a;
}
.starMain .capSide .upper{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.starMain .capSide h1{
    font-size: 20rem;
    margin-top: -5px;
}
.starMain .capSide .upper h1{
    font-size: 20rem;
    display: inline-block;
}
.belowAwardPage{
    padding: 0 30px;
}
.belowAwardPage .trophy{
    width: 300px;
}
.perfect{
    font-size: 20rem;
    display: inline-block;
    margin-top: -100px;
    margin-left: 20px;
}
.experience-tab{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.artisan{
    background-color: #1c1c1a;
    color: #c4bcb3;
    font-size: 18rem;
    display: inline-block;
    padding: 5px 30px;
}
.experience {
    font-size: 2rem;
    display: inline-block;
    width: 400px;
    height: 500px;
    text-align: start;
}
#awardText{
    font-size: 5rem
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 0 30px;
}
footer .left img{
    height: 30px;
    border: none;

}
footer .left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 1.3rem;
    border: none;
} 
footer .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.upper-footer{
    border-top: 1px solid #1c1c1a85;
    margin: 0 30px;
}
.upper-footer img{
    border: 1px solid #1c1c1aa1;
    border: 1px solid #1c1c1a;
}
.slideBar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 150px;
    border: 1px solid #1c1c1a;
    overflow-x: scroll;
    font-size: 3rem;
    text-wrap: nowrap;
}
.slideBar span{
    background-color: #1c1c1a;
    color: #c4bcb3;
    padding: 0 15px;
}
.slideBar .slideBarTrack{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    animation: scroll-left 10s  linear 2s infinite;
}

.slideBar::-webkit-scrollbar {
    display: none;  
}
  
@keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
.reviewCards{
    display: flex;
    position: relative;
    margin-bottom: 450px;
    margin-top: -80px;
}
.reviewCard{
    width: 550px;
    height: 300px;
    border-radius: 15px;
    padding: 20px;
    border: 3px dotted #1c1c1a8f;
}
.outerWidth{
    width: 600px;
    height: 350px;
    border: 3px solid #1c1c1a;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30px;
    box-shadow: 2px 2px 15px 2px #1c1c1a;
    background-color: #c4bcb3;
}
.reviewCard .text{
    font-size: 2rem;
    letter-spacing: 1.5px;
    text-decoration: underline 1px solid #1c1c1a95;
}
.author{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    gap: 15px;
}
.authorThree{
    margin-top: 18px;
}
.author img{
    object-fit: fill;
    border-radius: 50%;
    height: 50px;
    border: 1px solid #1c1c1a;
}
.authorName {
    font-size: 1.2rem;
}
.one{
    left: 30px;
}
.two{
    left: 320px;
}
.three{
    left: 620px;
}
.four{
    left: 890px;
}
